<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HGKeyBody.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>HGTodayExtensionDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ShareDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>TodayDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>185181881D338A3E005A0173</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18AD205D1D30FECA008EA86A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18AD20761D30FECB008EA86A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18AD20811D30FECB008EA86A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18AD20971D30FFB5008EA86A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18C0268C1D334B1300711781</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18C27A331D3327FA0042109E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
